.postTitle {
    height: fit-content;
    width: fit-content;
    margin: 5vw;
    padding: 1%;
    border-radius: 15px;
    border: solid 3px rgb(18, 26, 122);
    background-color: rgba(207, 205, 205, 0.43);
}

.post input[type="color"] {
    margin-top: 20%;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.419);
}

.posts {
    display: grid;
}


.wrapper{
    top: 5vh;
    left: 5vh;
    width: 90vw;
    height: 90vh;
    background-color: rgba(156, 138, 236, 0.314);
    position:absolute;
}

.postEdit{
    width: 70%;
    height: 70%;
    margin: 10vh auto;
    background-color: white;
    padding: 20%;
    box-sizing: border-box;
    border-radius: 15px;
}