.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h4{
    width: 50%;
    margin: auto;
}
.photo{
   width: 20vw;
   margin-bottom: 5px;

}
.pictureEdit{
    width: 70%;
    height: 70%;
    margin: 10vh auto;
    background-color: white;
    padding: 20%;
    box-sizing: border-box;
    border-radius: 15px;
}